@tailwind base;
@tailwind components;
@tailwind utilities;

/* others */
.viewmore-btn {
  @apply flex items-center justify-center w-full text-lg font-medium text-[#ff4500] underline transition-all duration-700 delay-500 ease-in-out hover:text-[#fff];
}
/* others */

/* navbar */
.navbar {
  @apply w-full flex items-center justify-between bg-[#0B0704] text-[#fff] px-[40px] py-2;
}
.navbar-logoBox {
  @apply w-[60px] h-[60px];
}
.authBtn {
  @apply flex items-center gap-2 ease-in-out text-[#000] px-[20px] py-[10px] rounded-md hover:bg-[#000] hover:text-[#ff4500] border-2 border-[#ff4500] transition-all duration-700 delay-300 hover:border-[#ff4500] bg-[#ff4500];
}
.destop-tabsview-tabs-authBtn,
.destop-tabsview-tabsBox {
  @apply flex justify-between items-center;
}
.destop-tabsview-tabsBox {
  @apply gap-10 font-medium;
}
.destop-tabsview-tabs-authBtn {
  @apply gap-16;
}
.mobileview-tabs2view-dropdown {
  /* @apply text-[40px] cursor-pointer; */
  @apply hidden;
}
/* navbar */

/* footer */
.footer {
  @apply flex items-start flex-wrap justify-center px-[40px] py-[20px] gap-14 border-t-2 border-gray-200;
}
.footer-innerBox {
  @apply w-[200px];
}
.footer-links-liveChannels h3,
.footer-links-followUs h3,
.footer-links-help h3,
.footer-links-aboutUS h3 {
  @apply text-[30px] font-bold;
}
.Footer-channel-links-box,
.Footer-follow-links-box,
.Footer-help-links-box,
.Footer-help-links-box {
  @apply flex flex-col flex-wrap gap-4 items-start py-4 font-medium;
}
.copyright-line-footer {
  @apply bg-[#202020] px-[40px] text-center text-wrap py-[10px] text-[#fff];
}
/* footer */

/* clashes-section-box */
.clashes-section-box {
  @apply bg-[#000] border-b-[10px] border-[#ff4500] text-[#fff] px-[40px] py-[60px];
}
.clashes-section-cardbox {
  @apply py-[60px] flex items-center flex-wrap justify-center gap-12;
}
.clashes-cards {
  @apply w-[260px] relative rounded-md overflow-hidden;
}
.clashes-cards img {
  @apply w-full h-full cursor-pointer;
}
.time-stamp-clash-card {
  @apply absolute bottom-1 right-1 bg-[#111111cc] px-[15px] py-[7px] rounded-md cursor-context-menu;
}
/* clashes-section-box */

/* news-section-box & blogCard*/
.news-section-box {
  @apply bg-[#000] border-b-[10px] border-[#ff4500] text-[#fff] px-[40px] py-[60px];
}
.news-section-cardbox {
  @apply py-[60px] flex items-center flex-wrap justify-center gap-12;
}
.newscard-section-box, .blogCard-section-box {
  @apply w-[260px] rounded-md overflow-hidden;
}
.imageBox-NewsCard img, .imageBox-blogCard img {
  @apply w-full h-full;
}
.contentBox-NewsCard, .contentBox-blogCard {
  @apply bg-[#ff4500] w-full px-[10px] py-[20px];
}
.newscard-title-line, .blogCard-title-line {
  @apply text-lg text-justify font-bold hover:text-[#000] transition-all duration-700 delay-300 ease-in-out;
}
/* news-section-box & blogCard */

/* newlatter-form-box */
.newlatter-box {
  background-image: url("/img/newslatterbg.svg");
}
.subscribebtn-newslatter {
  @apply font-bold text-center bg-[#ff4500] text-[#000] w-[79%] px-[40px] py-[10px] rounded-md;
}
.input-Boxes-newslatter-form {
  @apply py-[14px] flex items-center justify-center gap-10;
}
.input-Boxes-newslatter-form input {
  @apply px-[20px] py-[10px] w-[300px] rounded-md;
}
.newslatter-form-heading {
  @apply text-[45px] font-bold text-center;
}
.newlatter-form {
  @apply bg-[#000] text-[#fff] w-[80%] px-[40px] py-[20px] rounded-md flex flex-col items-center justify-center;
}
.newslatter-inner-container {
  @apply bg-[#0000009c] w-full h-full flex items-center justify-center;
}
.newlatter-box {
  @apply h-[400px] border-b-[10px] border-[#ff4500];
}
/* newlatter-form-box */

/* contact-section-box */
.contact-section-box {
  @apply bg-[#000] text-[#fff] px-[40px] py-[60px] border-b-[10px] border-[#ff4500];
}
.contact-form-section-spority {
  @apply flex items-center justify-center gap-12 flex-wrap py-[60px] w-full;
}
.contact-form-section-spority input {
  @apply px-[20px] py-[10px] rounded-full text-[#212121] outline-none w-[35%];
}
.contact-form-section-spority textarea {
  @apply py-[10px] px-[20px] rounded-lg w-[72.5%] outline-none text-black;
}
.contact-btn-form-spority {
  @apply w-[72.5%] bg-[#ff4500] text-[#000] text-[20px] font-bold rounded-full px-[40px] py-[10px];
}
/* contact-section-box */

/* privacy-policy-section */
.privacy-policy-section-box::-webkit-scrollbar {
  @apply hidden;
}
.privacy-policy-section h2,
.privacy-policy-section h3,
.privacy-policy-section h4,
.privacy-policy-section strong {
  @apply text-[#ff4500];
}
/* privacy-policy-section */

/* hero-banners */
.HomeHeroBanner {
  @apply border-b-[10px] border-[#ff4500] flex flex-wrap items-center gap-6 justify-between px-[40px] py-[60px] bg-[#000] text-[#fff];
}
/* hero-banners */

/* Disclaimer-Section */
.disclaimer-section {
  @apply pt-[60px];
}
.disclaimer-section .heading {
  @apply text-[28px] font-bold text-[#ff4500];
}
.disclaimer-section p {
  @apply py-[10px];
}
/* Disclaimer-Section */

/* Describe-Problem */
.problem-form-section-spority {
  @apply flex items-center justify-center gap-12 flex-wrap py-[60px] w-full font-semibold;
}
.problem-form-section-spority input {
  @apply px-[20px] py-[10px] rounded-lg text-[#212121] outline-none w-[35%];
}
.problem-form-section-spority textarea {
  @apply py-[10px] px-[20px] rounded-lg w-[72.5%] outline-none text-[#212121];
}
.problem-btn-form-spority {
  @apply w-[72.5%] bg-[#ff4500] text-[#000] text-[20px] font-bold rounded-full px-[40px] py-[10px];
}
/* Describe-Problem */

/* Feedback-Section */
.feedback-form-section-spority {
  @apply flex items-center justify-center flex-wrap py-[60px] w-full font-semibold;
}
.feedback-form-section-spority input {
  @apply px-[20px] py-[10px] my-2 rounded-lg w-full text-[#212121] outline-none;
}
.feedback-form-section-spority textarea {
  @apply py-[10px] px-[20px] my-2 rounded-lg w-full outline-none text-[#212121];
}
.feedback-form-section-spority .rating {
  @apply mb-4 flex gap-2 items-center;
}
.feedback-form-section-spority .rating label {
  @apply text-2xl font-semibold;
}
.feedback-form-section-spority .rating .stars {
  @apply flex items-center px-1 mt-1 text-xl;
}
.feedback-btn-form-spority {
  @apply w-full bg-[#ff4500] text-[#000] text-[20px] font-bold rounded-full px-[40px] py-[10px];
}
.faq-section-spority {
  @apply max-w-xl mx-auto border border-solid border-gray-300 rounded-[10px];
}
.faq-section-box {
  @apply mt-4 rounded-[10px] border-b border-gray-300 select-none;
}
.faq-section-box .answer-question {
  @apply text-[#ff4500] flex items-center justify-between cursor-pointer;
}

@media (max-width: 800px) and (min-width: 451px) {
  .destop-tabsview-tabs-authBtn {
    @apply hidden;
  }
  .mobileview-tabs2view-dropdown {
    @apply block text-4xl;
  }
}
@media (max-width: 451px) and (min-width: 260px) {
  .destop-tabsview-tabs-authBtn {
    @apply hidden;
  }
  .contact-section-box {
    @apply px-[10px];
  }
  .contact-form-section-spority input {
    @apply px-[10px] py-[10px] rounded-full text-[#212121] outline-none w-[72.5%];
  }
  .mobileview-tabs2view-dropdown {
    @apply block text-4xl;
  }
}


.event-card {
  @apply relative overflow-hidden;
}

.watch-now-btn {
  @apply bottom-[-40px] left-[50%];
  transform: translateX(-50%);
  transition: bottom 0.3s ease-in-out;
}

.event-card:hover .watch-now-btn {
  @apply bottom-[40px];
}
