/*for tab and mobile*/

@media (max-width: 778px) and (min-width: 450px) {
  .player-box-live-channel-page {
    @apply !flex-col;
  }
  .bell-newslatter,
  .fadebell {
    @apply hidden;
  }
  .events-list {
    @apply flex-row flex-wrap;
  }
  .player-of-main-channel,
  .mainbox-livepage-streamer {
    @apply w-full;
  }
  .mainbox-livepage-streamer {
    @apply h-[31vh];
  }
  .main-channel-live-page-iframe {
    height: 34vh !important;
    width: 93vw !important;
    overflow: hidden !important;
    border-radius: 0.5rem !important;
  }
  .event-card-box {
    @apply flex-row flex-wrap;
  }
  .featured-event-card-events-page {
    @apply w-[223px] h-[150px];
  }
  .mostView-Events-post-eventpage {
    @apply h-[300px];
  }
  .featured-Events-post-eventpage,
  .mostView-Events-post-eventpage {
    @apply w-full;
  }
  .featured-Events-post-eventpage-box {
    @apply flex-col-reverse;
  }
}

/*Mobile responsive*/
@media (max-width: 451px) and (min-width: 260px) {
  .fadebell,
  .bell-newslatter {
    @apply hidden;
  }
  .player-of-main-channel,
  .mainbox-livepage-streamer {
    @apply w-full;
  }
  .mainbox-livepage-streamer iframe {
    @apply h-[31vh];
  }
  .streamer-more-channel-box-heading {
    @apply text-2xl text-center flex flex-col items-center justify-center px-2;
  }
  .playerbox_player {
    @apply px-6;
  }
  .event-card-box {
    @apply flex-row flex-wrap;
  }
  .events-list {
    @apply h-full;
  }
  .event-card {
    @apply h-[160px];
  }
  .main-channel-live-page-iframe {
    height: 32vh !important;
    width: 90vw !important;
    overflow: hidden !important;
    border-radius: 0.5rem !important;
  }
  .livechannel-channel-box {
    @apply pb-[20px];
  }
  .newsletter-box-livechannel {
    @apply px-4 py-12;
  }
  .newsletter-livechannel {
    @apply p-4 bg-transparent;
  }
  .text-gradient,
  .live-channel-box-heading {
    @apply text-2xl;
  }
  .live-channel-box-heading {
    @apply px-10 text-center flex w-full items-center justify-center;
  }
  .newlatter-form-inputs {
    @apply flex-col gap-4;
  }
  .newslatter-action-btn {
    @apply !w-[90%];
  }
  .player-box-live-channel-page {
    @apply flex flex-col items-center justify-center;
  }
  .featured-event-card-events-page {
    @apply w-[305px] h-[205px];
  }
  .mostView-Events-post-eventpage {
    @apply h-[300px];
  }
  .featured-Events-post-eventpage,
  .mostView-Events-post-eventpage {
    @apply w-full;
  }
  .featured-Events-post-eventpage-box {
    @apply flex-col-reverse;
  }
  .fetured-events-most-view-events h3 {
    @apply text-2xl;
  }
  .fetured-events-most-view-events {
    @apply px-10;
  }
}
